*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #111;
  color: #eaeaea;
  font-family: Arial, sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  gap: 12px;
}

.input, .output{
  flex-basis: 50%;
  padding: 10px;
}

label{
  font-weight: bold;
  display: block;
  margin: 8px 0 6px;
}

textarea{
  width: 100%;
  height: 30%;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 10px;
  resize: none;
}

iframe{
  width: 100%;
  height: 97%;
  background: white;
  border: none;
  outline: none;
}
